body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#111;
  color:white;
  min-width:1280px;
}

/* NAV */
nav{
  background:#1B5E20;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 30px;
}

nav h1{
  color:#F9A825;
  margin:0;
}

nav ul{
  list-style:none;
  display:flex;
  gap:15px;
}

nav ul li a{
  color:white;
  text-decoration:none;
  font-size:14px;
}

/* SECCIONES */
section{
  padding:60px 80px;
}

/* INICIO */
#inicio{
  background:#1B5E20;
  text-align:center;
  padding:120px 80px;
}

#inicio h1{
  font-size:40px;
  color:#F9A825;
}

/* BOTONES */
button{
  background:#F9A825;
  border:none;
  padding:10px 20px;
  font-weight:bold;
  cursor:pointer;
}

/* CARDS */
article{
  background:#222;
  padding:20px;
  margin-top:20px;
  border-radius:10px;
}

/* IMÁGENES */
img{
  width:300px;
  border-radius:10px;
  margin-top:10px;
}

/* GALERIA */
#galeria img{
  width:250px;
  margin:10px;
}

/* TABLA */
table{
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
  background:#222;
}

table td, table th{
  border:1px solid #444;
  padding:10px;
}

/* FORM */
form input,
form textarea{
  display:block;
  width:300px;
  margin:10px 0;
  padding:8px;
}

/* FOOTER */
footer{
  background:#000;
  text-align:center;
  padding:30px;
  margin-top:40px;
}